name: Release Plugin

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Prepare zip with Telegram Highlights plugin KOReader
        run: |
          mkdir build
          cp -r telegramhighlights.koplugin build/
          cd build
          zip -r telegramhighlights.koplugin.zip telegramhighlights.koplugin

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          name: Telegram Highlights Plugin for KOReader ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          files: build/telegramhighlights.koplugin.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
